---
import FormCreate from "@/components/FormCreate.jsx";

---

<div class="overflow-x-clip">
    <section class="">
      <div
        class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-12"
      >
        <div class="max-w-2xl mx-auto">
          <h1
            class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl dark:text-white"
          >
            FORM PENGADUAN MASYARAKAT
          </h1>
        </div>
      </div>
    </section>
  <FormCreate client:load />
</div>
