---
---

<div class="overflow-x-clip">
    <section class=" pt-8">
      <div
        class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-12"
      >
        <div class="max-w-2xl mx-auto">
          <h1
            class="mb-4 text-2xl font-extrabold tracking-tight leading-none  md:text-3xl lg:text-4xl"
          >
            DATA TERKIRIM
          </h1>
        </div>
      </div>
    </section>
  </Container>
</div>
